body{
  background: rgba(198,221,200,1);
  background: -moz-linear-gradient(45deg, rgba(198,221,200,1) 0%, rgba(90,170,93,1) 51%, rgba(150,202,153,1) 82%, rgba(150,202,153,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(198,221,200,1)), color-stop(51%, rgba(90,170,93,1)), color-stop(82%, rgba(150,202,153,1)), color-stop(100%, rgba(150,202,153,1)));
  background: -webkit-linear-gradient(45deg, rgba(198,221,200,1) 0%, rgba(90,170,93,1) 51%, rgba(150,202,153,1) 82%, rgba(150,202,153,1) 100%);
  background: -o-linear-gradient(45deg, rgba(198,221,200,1) 0%, rgba(90,170,93,1) 51%, rgba(150,202,153,1) 82%, rgba(150,202,153,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(198,221,200,1) 0%, rgba(90,170,93,1) 51%, rgba(150,202,153,1) 82%, rgba(150,202,153,1) 100%);
  background: linear-gradient(45deg, rgba(198,221,200,1) 0%, rgba(90,170,93,1) 51%, rgba(150,202,153,1) 82%, rgba(150,202,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6ddc8', endColorstr='#96ca99', GradientType=1 );
}

.title-position{
  top: -20%;
  transform: translateY(45%);
}

.size-card{
  object-fit: cover
}